.add-to-cart-button
{
    color: var(--au-light-gray) !important;
    border-color: var(--purple-color);
    background-color: var(--purple-color);
    opacity: 80%;
}

.add-to-cart-button:hover
{
    background-color: var(--purple-color);
    opacity: 100%;
}

.img-container {
    height: 60% !important;
}

.card-fixer {
    max-height: 500px;
}

.card-description {
    min-height: 54px;
}

.card {
    /* Esto es necesario para que el botón se posicione relativo a la tarjeta */
    position: relative;
    width: 100%;
    /* ajusta el tamaño de las tarjetas */
    max-width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
    /* Espacio adicional para que el botón no se solape con el contenido */
    padding-bottom: 60px;
}

.add-to-cart-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    /* Centra el botón horizontalmente */
    transform: translateX(-50%);
    /* Ajusta el tamaño del botón */
    width: 75%;
}

.img-container img {
    width: 100%;
    height: auto;
}

.card-text {
    /* Ajusta el espacio entre renglones con la variable definas en aura */
    line-height: var( --space-4-x);
}

.minicart__noproducts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-weight: bold;
}

.offCanvas__minicart_active {
    overflow: hidden;
    position: fixed;
}